[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "iutest"]
	path = iutest
	url = https://github.com/srz-zumix/iutest.git
[submodule "hash-library"]
	path = hash-library
	url = https://github.com/stbrumme/hash-library.git
[submodule "manual/doxygen-awesome-css"]
	path = manual/doxygen-awesome-css
	url = https://github.com/jothepro/doxygen-awesome-css.git
